langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
wikipedia
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
langchain_groq
fastapi
langserve
sse_starlette
ddgs
pathlib
SQLAlchemy
validators==0.28.1
youtube_transcript_api
huggingface_hub
cassio
datasets
openai
tiktoken
PyPDF2
gradio
